<h1>CONTACT US</h1>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h4>EMAIL</h4>
        <p>
          sales@electricalsurplus.net 
          <br>
          purchasing@electricalsurplus.net
        </p>
        <table style="width:100%">
        <h4>PHONE</h4>
          <tr>
            <td>Toll Free</td>
            <td>1-866-518-1033</td>   
          </tr>
          <tr>
            <td>Local</td>
            <td>623-466-7504</td>   
          </tr>
          <tr>
            <td>Espanol</td>
            <td>623-533-9185</td>   
          </tr>
        </table>
      <h4>FAX</h4>
        <p>
          623-466-7506 
        </p>
      <h4>WAREHOUSE</h4>
        <p>
        7727 North 63rd Ave
        <br>
        Glendale, AZ 85301
        </p>
      <h4>MAILING</h4>
        <p>
        PO BOX 10926
        <br>
        Glendale, AZ 85318
        </p>
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <%= form_for @contact do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :phone %>
          <%= f.text_field :phone, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :comments %>
          <%= f.text_area :comments, class: 'form-control' %>
        </div>
        <%= f.submit 'Submit', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>

<div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13300.441881297385!2d-112.194861!3d33.550506!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe0a098ecc221ccbe!2sElectrical+Equipment+Sales!5e0!3m2!1sen!2sus!4v1447824993899" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>